/* content styles */

#page-title-div {
	margin-bottom: 2em;
}

#initial-div {
	width: 95%;
	margin: 0 auto;
}

#initial-div .control-label {
	text-align: right;
	padding: 6px 2px;
}

#initial-div .form-control {
	text-align: center;
	width: 100%;
}

#initial-div .form-control:focus {
	border-color: rgba(212, 177, 0, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(212, 177, 0, 0.8);
	outline: 0 none;
}