/* Scrollbar */ 

::-webkit-scrollbar{width: 10px;}
::-moz-scrollbar{width: 10px;}

::-webkit-scrollbar-thumb{background-color:rgba(196, 196, 196, 0.5); border-radius: 5px;}
::-webkit-scrollbar-thumb:hover{background-color:rgba(196, 196, 196, 1);}

::-webkit-scrollbar-track{background-color:rgba(237, 237, 237, 0.7);}
::-webkit-scrollbar-track:hover{background-color:rgba(237, 237, 237, 1);}

::-webkit-scrollbar:horizontal{height: 10px;}

::-webkit-scrollbar-thumb:horizontal{background-color:rgba(196, 196, 196, 0.5); border-radius: 5px;}
::-webkit-scrollbar-thumb:horizontal:hover{background-color:rgba(196, 196, 196, 1);}

::-webkit-scrollbar-track:horizontal{background-color:rgba(237, 237, 237, 0.7);}
::-webkit-scrollbar-track:horizontal:hover{background-color:rgba(237, 237, 237, 1);}


/* End Scrollbar */